:host
    margin: 1rem 0.8rem

.book-container
    width: 8rem
    max-width: 8rem
 
.image-container
    height: 10rem
    background-size: cover
    border-radius: 5px
    cursor: pointer

.info
  margin: 0.3rem 0
  text-align: center
  max-width: 100%
  overflow-wrap: break-word

  .prefix
      font-weight: 400
      font-size: 0.7rem


.price
    color: #20943f