@import '../../../sass_partials/_shared-variables'

$green : map-get($colors,greenColor )
$cartBackground: map-get($colors,header )
$cartFill: darken($cartBackground,35%)
        
:host
    margin: 1rem 0.8rem

.book-container
    width: 8rem
    max-width: 8rem
 
.image-container
    position: relative
    height: 10rem
    background-size: cover
    border-radius: 5px
    cursor: pointer
    outline: none

    &:hover
        box-shadow: 0 0 8px darken($cartBackground,20%)
        transition: box-shadow 100ms linear

    .icon-container
        position: absolute
        width: 1.8rem
        height: 1.8rem
        border-radius: 50%
        top: 0.2rem 
        left: 0.2rem
     
    .cart
        padding: 0.2rem 0.25rem 0.2rem 0.27rem 
        background-color: $cartBackground
        fill: $cartFill

        &:hover
            fill: $cartBackground
            background: $cartFill
            transition: fill 150ms linear,background 150ms linear

        &:active
            background-color: $cartBackground
            fill: $cartFill 

        #cart-image
            width: 1.3rem

    .checked
        &:hover
            opacity: 0.65
            transition: opacity 100ms linear
        
.info
  margin: 0.3rem 0
  text-align: center
  max-width: 100%
  overflow-wrap: break-word

  .prefix
      font-weight: 400
      font-size: 0.7rem

.price
    color: $green