<div class="main-container">
  <div class="content-container">
    <h1 class="title">SignIn / SignUp</h1>
    <form class="sign-form" #signForm="ngForm">
      <div class="form-row">
        <label for="userName">User Name</label>
        <input
          id="userName"
          type="text"
          name="userName"
          [(ngModel)]="formData.userName"
          placeholder="user name"
          required
          minlength="5"
          #userName="ngModel"
          [ngClass]="{
            'invalid-input': !userName.valid && userName.touched
          }"
        />
        <div
          class="alert-message-container"
          *ngIf="!userName.valid && userName.touched && !userName.value"
        >
          <span class="alert-message">userName is missing</span>
        </div>
        <div
          class="alert-message-container"
          *ngIf="
            userName.touched &&
            userName.errors?.minlength &&
            userName.value.length
          "
        >
          <span class="alert-message password-length"
            >must be at least 5 symbols</span
          >
        </div>
      </div>
      <div class="form-row">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          [(ngModel)]="formData.password"
          placeholder="password"
          required
          minlength="5"
          #password="ngModel"
          [ngClass]="{
            'invalid-input': !password.valid && password.touched
          }"
        />
        <div
          class="alert-message-container"
          *ngIf="!password.valid && password.touched && !password.value"
        >
          <span class="alert-message">password is missing</span>
        </div>
        <div
          class="alert-message-container"
          *ngIf="
            password.touched &&
            password.errors?.minlength &&
            password.value.length
          "
        >
          <span class="alert-message password-length"
            >must be at least 5 symbols</span
          >
        </div>
      </div>
      <div class="form-row">
        <button
          class="button singin"
          [disabled]="!signForm.valid"
          (mouseover)="toggleHoverEffect($event)"
          (mouseleave)="toggleHoverEffect($event)"
          (click)="signIn()"
        >
          Sign In
        </button>
        <button
          class="button signup"
          [disabled]="!signForm.valid"
          (mouseover)="toggleHoverEffect($event)"
          (mouseleave)="toggleHoverEffect($event)"
          (click)="signUp()"
        >
          Sign Up
        </button>
      </div>
    </form>
    <div class="error-response-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>
