@import '../../sass_partials/_shared-variables'
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap')

$innerContainerMargin : 0.8rem

@mixin flex()
    display: flex
    flex-wrap: nowrap
    align-items: center 

@mixin buttonStyle() 
    background: darkenBackground(7%)
    box-shadow: 0px 0px 5px  darkenBackground(25%)
    border-radius: 25px
   
@function lightenBackground($percent)
   @return lighten(map-get($colors,header ),$percent)

@function darkenBackground($percent)
   @return darken(map-get($colors,header),$percent )

:host 
    box-shadow: 0 3px 8px darkenBackground(15%)
  
.main-container
    @include flex
    justify-content: space-between
    height: 100%
    background: map-get($colors,header )

    a 
     color: inherit
     text-decoration: none
     outline: none   

    @media (max-width: 37.5rem)
       padding-right: 1.3rem
       padding-left: 1rem

.mobile-nav-toggle-button
    display: none

    &:hover   
        .bar
           box-shadow: 0 0 15px map-get($colors,content)
           transition: box-shadow 100ms 0s linear

    &:active
        .bar
            background: map-get($colors,content)
           
    .bar
        width: 80%
        height: 0.2rem
        background: darkenBackground(40%)
        border-radius: 20px

    @media (max-width: 37.5rem)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around
        width: 2.5rem
        height: 2rem 
        cursor: pointer

.mobile-nav-list
    position: absolute
    font-size: 0
    width: 40%
    left: 0.5rem
    top: 4.07rem
    background: map-get($colors,header)
    color: map-get($colors,content)
    border-radius: 0 0 25px 25px
    transition: font-size 125ms 0s linear

    .mobile-nav-list-item
        font-size: 1.2em
        text-align: center
        padding: 0.7em 0
        cursor: pointer
        text-shadow: 0 0 2px black
        outline: none
        border-top: 0.05em solid map-get($colors,content )
        
        &:hover
           background: map-get($colors,content )
           color: map-get($colors,header)
           transition: background 100ms             

.leftSide-container 
    margin-left: $innerContainerMargin + 1.5rem

.store-logo-title-container 
    @include flex
    cursor: pointer

    &:hover
        .title
            color: #deddc1
            -webkit-text-stroke-width: 1px
            -webkit-text-stroke-color: black
            text-shadow: none
            
.logo
    width: 4rem
    height: 4rem
    background-image: url('../../../assets/images/logo.png')
    background-size: contain

.title
    margin-left: $innerContainerMargin
    font-family: 'Leckerli One'
    font-size: 1.9rem
    color: darkenBackground(45%)
    text-shadow: 2px 2px lightenBackground(15%)
    transition: color 40ms ease-in 

.rightSide-container 
    @include flex
    justify-content: space-around
    @include buttonStyle()
    width: 18rem
    height: 80%
    margin-right: $innerContainerMargin + 1.5rem
    
    .active-link
      color: lightenBackground(35%) 
      fill: lightenBackground(35%)

    a
      cursor: pointer

      &:hover
          @extend .active-link
          transition: color 100ms linear,fill 100ms linear

    @media (max-width: 37.5rem)
        display: none
        
.cart-container
    @include flex
    position: relative

.cart-icon
    display: block
    width: 1.7rem
    height : 1.7rem

div[quantityDisplay]
    position: absolute
    top: -0.6rem
    right: -0.9rem

.activeDashboard
    background-color: map-get($colors,greenColor)
    color: #fff

    
     