@import '../sass_partials/_shared-variables'

.main-container
  @include main-container()

.content-container
  @include content-container()
  @include basicFlex()

  
.message
  text-align: center

.btn
  @include button()
  width: 50%
  margin: 0 auto
  text-align: center
  font-size: 1.3rem
 
  &:hover
      @include button-hover()
      
   
