<div class="edit-book-container">
  <div class="field-to-edit-container">
    <h4 class="field-name">Image Url</h4>
    <textarea #imageUrl cols="50" rows="3">{{ book.imageUrl }}</textarea>
  </div>
  <div class="field-to-edit-container">
    <h4 class="field-name">Book description</h4>
    <textarea #description cols="50" rows="7">{{ book.description }}</textarea>
  </div>
  <div class="field-to-edit-container">
    <h4 class="field-name">Price $</h4>
    <textarea #price cols="10" rows="">{{ book.price }}</textarea>
  </div>
  <div class="field-to-edit-container">
    <h4 class="field-name">Rating</h4>
    <select id="rating" #rating>
      <option
        *ngFor="let value of getRatings()"
        [selected]="value + 1 === book.rating ? 'selected' : ''"
      >
        {{ value + 1 }}
      </option>
    </select>
  </div>
  <div
    class="updateButton"
    (click)="update(imageUrl, description, price, rating)"
  >
    Update
  </div>
</div>
