$colors : (content:#d9d1bd,header: hsl(24, 53,55 ))

@mixin  main-container()
  background: map-get($colors,content )
  height: 100%
  padding: 0.65rem 0

@mixin content-container()
   height: 100%
   width: 85%
   background: white
   margin: 0 auto
    


