$colors : (content:#d9d1bd,header: hsl(24, 53,55 ),greenColor: #0f8816)

@mixin basicFlex()
  display: flex
  justify-content: center
  align-items: center
  
@mixin  main-container()
  background: map-get($colors,content )
  height: 100%
  padding: 0.65rem 0

@mixin content-container()
   height: 100%
   width: 90%
   margin: 0 auto
    


