@import '../../sass_partials/_shared-variables'

.main-container
    background: map-get($colors,content)
    padding-top: 1.5rem

.title
    text-align: center
    font-size: 1.7rem
    margin:0 0 0.5rem
    padding-left: 1rem
    
.books-container
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
