@import ../sass_partials//_shared-variables

$titleFontSize: 2.5rem
$innerMargin: 1rem

.main-container
    @include main-container()

.content-container 
    position: relative
    width: 70%
    margin: 2rem auto
    padding-bottom: 5rem
    display: grid
    grid-template-columns: 10rem 3fr
    grid-template-rows: 1fr auto thin 
    grid-gap: 1rem

    @media (max-width: $secondBreakPoint)
        margin-left: 1rem

    @media (max-width: $thirdBreakPoint)
        margin: 0 auto
        display: flex
        flex-direction: column
    
.image-container
    position: relative
    grid-column: span 1
    grid-row: span 3
    height: 19.5rem

    @media (max-width: $thirdBreakPoint)
        height: 13rem
        position: static
   
    .image
        height: 100%
        width: 100%
        background-size: contain
        background-repeat: no-repeat
        background-position: top

.title-container
    @include basicFlex()
    justify-content: flex-start
    align-items: flex-end !important

    .title
        font-size: $titleFontSize
        line-height: 1
        margin-right: $innerMargin

        @media (max-width: $thirdBreakPoint)
            font-size: $titleFontSize - 1.2rem
            white-space: nowrap
            margin: 0

    @media (max-width: $thirdBreakPoint)
        flex-direction: column
        align-items: center !important

    .additional-info
        @include basicFlex()

        .publish-year
            margin-right: 0.3rem

        .author
            white-space: nowrap

        @media (max-width: $thirdBreakPoint)
            font-size: $titleFontSize - 1.7rem

.description-container
    @include basicFlex()
    flex-direction: column
    justify-content: space-between
    font-size: $titleFontSize - 1.5rem

    @media (max-width: $thirdBreakPoint)
        font-size: $titleFontSize - 1.6rem
    
    .rating-container
         @include basicFlex()
         margin-top: $innerMargin + 0.5rem

.price-container
    @include basicFlex()
    grid-row: 3
    grid-column: 2

    .price
        color: map-get($colors,greenColor)
        font-size: $titleFontSize - 1rem
        margin-left: 1rem

.addToCart-container
    @include basicFlex()
    white-space: nowrap
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%,0)

    .addToCart-button
        @include button()
        
        &:hover
            @include button-hover()
            
        &:active
            @include button-active()
            
    .checked-icon
        width: 3rem
        height: 3rem

    @media (max-width: $thirdBreakPoint)
        position: absolute
        bottom: 1rem    
   