@import ../sass_partials//_shared-variables

$titleFontSize: 2.5rem
$innerMargin: 1rem

.main-container
    @include main-container()

.content-container 
    width: 65%
    margin: 2rem auto
    display: grid
    grid-template-columns: 10rem 3fr
    grid-template-rows: 1fr auto 1fr 1fr
    grid-gap: 1rem

    
.image-container
    grid-column: span 1
    grid-row: span 3
   
    .image
        height: 100%
        width: 100%
        background-size: contain
        background-repeat: no-repeat
        background-position: top

.title-container
    @include basicFlex()
    justify-content: flex-start
    align-items: flex-start !important

    .title
        font-size: $titleFontSize
        margin-right: $innerMargin

    .additional-info
        @include basicFlex()
        position: relative
        top: 1.5rem

        .publish-year
            margin-right: 0.3rem

.description-container
    @include basicFlex()
    flex-direction: column
    justify-content: space-between
    // grid-row: span 2
    font-size: $titleFontSize - 1.3rem
    
    .rating-container
         @include basicFlex()
         margin-top: $innerMargin + 0.5rem


.addToCart-container
    @include basicFlex()

.price-container
    @include basicFlex()

    .price
        color: map-get($colors,greenColor)
        font-size: $titleFontSize - 1rem
        margin-left: 1rem
    
   